form{
    margin: 20px;
    padding: 20px;
    background-color: rgb(10, 51, 81);
}
input{
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

button{
    background-color: rgb(17, 191, 116);
    padding: 5px;
    border-radius: 10px;
}